
.header{
    width: 100%;            
    position:fixed;        
    height: 50px;
    background-color: #202024;
}
.notshowtitle{
    display: none;
}

.title__nav{
    font-size: 20px
}

.icon__nav{
    width: 25px;
    height: auto;    
}

.diapear{
    display: none;
}

.diapeartwo{
    display: none;
}

.content__container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ul__container{
    padding: 10px;    
    list-style: none;
    background-color: #202024;
}

.ul__item{    
    padding: 5px;
    border-top: 1px solid #dddd;
    border-bottom: 1px solid #dddd;
    font-size: 15px;    
}


@media (min-width:767px) {

    .title__nav{
        display: none;
    }

    .icon__nav{
        display: none;
    }    

    .ul__item{            
        border: none;    
        list-style: none;            
        font-size: clamp(1rem,1vw + 1rem,2.6rem);   
        cursor: pointer;
        z-index: 30;
    }

    .diapeartwo{
        display: block;
        display: flex;
        justify-content: space-around;
        background-color: #202024;
        z-index: 40;
    }
    .header{
        z-index: 20;
    }
}


@media (min-width:1300px) {
    

    .nav__header{
        width: 80%;
        margin: 0 auto;
    }

    .ul__item{                   
        --clipi : polygon(0 0, 0 0, 0 100%, 0 100%); 
    }

    .ul__item::after{
        content: "";
        display: block;
        background: #DA1C4B;
        width: 100%;
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clipi);
        transition: clip-path 0.3s;
    }

    .ul__item:hover{
        --clipi: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    } 

    
}