.proyectos__all__container{
    display: flex;
    flex-direction: column;
    gap: 30px;    
}

.reco__container{
    max-width:80%;
    font-size: 13px;    
    margin-inline: auto;
    text-align: justify;
    margin-block: 30px;
}

@media (min-width:935px) {
    .reco__container{        
        width: 70%;
        margin-block: 90px;
    }        

    .reco__tittle{
        font-size: clamp(1rem,2.2vw, 3rem);  
    }

    .reco__parrafo{
        font-size: clamp(1rem,1.3vw, 2rem); 
        
    }
}


@media (min-width:1024px) {
    .proyectos__all__container{
        width: 100%;
        flex-direction: row;        
        flex-wrap: wrap;        
        margin-top: 100px;
        justify-content: center; 
        align-items: flex-start;               
        gap: clamp(1rem, 10vw,10rem)
    }       
}
